<div class="home">
    <header-comp></header-comp>
    <div class="home__container">
      <div class="home__image">
        <img src="assets/images/usar-o-cartao-de-credito.jpg">
      </div>
      <div class="home__text">
        <div>
          <p class="home__paragraph">Já ta sabendo que a Sem Parar agora tem um cartão de crédito novinho e cheio de vantagens exclusivas que é sua cara?</p>
          <p class="home__paragraph">Faça seu pré cadastro e receba seu cartão antes de todo mundo</p>
        </div>
        <button class="default-button" (click)="abrirForm()">Quero me Cadastrar!!</button>
      </div>
    </div>
    <div class="home__container">
      <div class="home__text">
        <div>
          <p class="home__paragraph">Já ta sabendo que a Sem Parar agora tem um cartão de crédito novinho e cheio de vantagens exclusivas que é sua cara?</p>
          <p class="home__paragraph">Faça seu pré cadastro e receba seu cartão antes de todo mundo</p>
        </div>
      </div>
      <div class="home__image">
        <img src="assets/images/assine-4-meses.png">
      </div>
    </div>
</div>